<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Suite 116 : Event Space : Harlem, NYC</title>

	<meta name="keywords" content="new york event spaces, party space in new york, new york city event space, new york city event spaces, event space new york, event space new york city, event spaces new york,
	event space nyc, event spaces new york city, event spaces nyc, nyc event space, event spaces in nyc, event space in new york, nyc event spaces, party space new york city, event space in nyc, new york party space, new york party spaces, event spaces ny, ny event space, new york event locations, party spaces new york city, party spaces new york, party spaces in new york, event space ny, private event space nyc, party venues new york city, event space rental nyc, new york city party space, event and party space new york, nyc event space rental, cheap event space nyc, wedding locations in new york, wedding locations new york, new york party locations, small event space nyc, new york city wedding locations, affordable event space nyc, new york wedding location, new york city wedding location, private party rooms nyc, party space rental nyc, the event space nyc, party rooms for rent, party spaces nyc, party space nyc, Harlem Event Space, Event Space Harlem, Party Space Harlem, Harlem Party Space, karaoke nyc private rooms"/>
	<meta name="description" content="Suite116 is one of New York City's elegant and most affordable event and party spaces for rent. Our Venue includes birthday parties, Baby showers, Private parties, Wedding Showers, Wedding Receptions, charity and fundraiser events, and private karaoke events in nyc"/>
	<meta name="viewport" content="width=device-width,initial-scale=1, user-scalable=no">
	<link href="css/reset.css" rel="stylesheet" />
	<link href="css/s116.css" rel="stylesheet" />
	<link href="css/rates.css" rel="stylesheet" />
	<link href="css/map.css" rel="stylesheet" />
	<link href="css/floorplan.css" rel="stylesheet" />
	<link href="css/email-us.css" rel="stylesheet" />
	<link href="css/slider.css" rel="stylesheet" />
	<script src="js/third-party/jquery-1.9.1.js"></script>
	<script src="js/third-party/jquery.bxslider.min.js"></script>
	<script src="js/third-party/handlebars.js"></script>
	<script src="js/suite116.js"></script>
	<script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script>
	<script src="http://maps.google.com/maps?file=api&amp;v=2&amp;sensor=false&amp;key=ABQIAAAAWBTwOKMwPq8KSNGuuD5RAxQPF04sUbgOaXMIX5x5YADzBOODHhTiVBsmhD1gSAWlVFFGXpepbDPrdQ" type="text/javascript"></script>
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-49430809-1', 'suite116.com');
	  ga('send', 'pageview');

	</script>
	<!--[if lt IE 9]>
		<script src="js/thirdparty/html5shiv.js"></script>
	<![endif]-->	
</head>