<ul class="bxslider">
    <li><img src="imgs/room1.jpg" /></li>
    <li><img src="imgs/room2.jpg" /></li>
    <li><img src="imgs/room3.jpg" /></li>
    <li><img src="imgs/room4.jpg" /></li>
    <li><img src="imgs/room5.jpg" /></li>
</ul>
<p class="number">Call (917) 412-9722</p>
<ul class="packages">
    {{#each touts}}
      <li>
        <a href="{{link}}"><span>{{title}}</span></a>
        <figure>
          <img src="imgs/{{image}}" />
        </figure>
        <p>{{{copy}}}</p>
      </li>
    {{/each}}
</ul>