<nav>
	<div class="burger"></div>
	<ul class="navlist">		
		<li><a href="/">Home</a></li>
		<li><a href="/rates">Rates</a></li>
		<li><a href="/floorplan">Floor Plan</a></li>
		<li><a href="/emailus">Email Us</a></li>
		<li><a href="/map">Map</a></li>
		<li><a href="/faqs">FAQs</a></li>
		<li class="admin-link hide"><a href="#">Admin</a></li>
	</ul>	
	<div class="logo"><a href='/'>Suite<span>116</span></a></div>
	<div class="address">114 W 116th Street, NY, NY</div>
	<figure>
		<a href='/'>
			<!-- <img src="imgs/logo.png" class="logo" /> -->
		</a>
	</figure>	
</nav>