<footer>
	<ul class="social">	
		<li>Suite116 © 2015. All Rights Reserved.</li>			
		<li class="social-twitter"></li>
		<li class="social-facebook"></li>
		<li class="social-googleplus"></li>		
		<li class="social-pinterest"></li>
		<li class="social-mail"><a href="mailto:suiteat116@gmail.com" class="icon-mail"></a></li>		
	</ul>
</footer>